* {
    margin: 0 auto;
    padding: 0;
}

body {
    height: 100vh;
    background: #b7deea;
    color: #5c95a7;
    display: flex;
    align-items: center;
}

#container {
    text-align: center;
}

ul {
    text-align: left;
}